@media (max-width: 900px) {
    .header {
        position: initial;
    }
    
    #home {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

        margin-bottom: 5rem;
    }

    .img-home{ 
        width: 50%;
    }
        
    .list-socials  {
        flex-flow: row wrap;
    }

    .hyper-about:nth-child(3) {
        margin-right: 1rem;
    }

    .hyper-projects {
        
    }

    .elements-projects{
        width: 100vw;
        height: 100vh;
        flex-flow: column nowrap;
    }
}